* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 9pt;
}

body {
  z-index: 0;
  position: relative;
  font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
  font-size: 100%;
  line-height: 1.2em;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #fff;
}


/**************************************************************************************************/

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

ul, li {
  list-style: none;
}

:focus {
  -moz-outline-style: none;
}

a {
  outline: none;
}

hr {
  border: 0;
  height: 1px;
  margin: 0.75em 0 1.5em 0;
  background-color: #000;
  clear: both;
}

img {
  display: block;
}


/**************************************************************************************************/

.Wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/**************************************************************************************************/

.Core {
  position: relative;
  text-align: left;
  background-color: #FCD116;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: inset -40px -40px 40px rgba(0, 0, 0, 0.4), 50px 50px 8px rgba(0, 0, 0, .04);
  background: -moz-linear-gradient(-45deg, #E29100 0%, #F9E04C 100%);
  background: -webkit-linear-gradient(-45deg, #E29100 0%, #F9E04C 100%);
  background: linear-gradient(135deg, #E29100 0%, #F9E04C 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#E29100', endColorstr='#F9E04C', GradientType=1);
}


/**************************************************************************************************/

.Object {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #933311;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, .6), 15px 15px 2px rgba(0, 0, 0, .04);
  position: absolute;
  -webkit-animation: moveX 3.03s ease-in-out 0s infinite alternate, moveY 2.20s ease-in-out 0s infinite alternate;
  -moz-animation: moveX 3.03s ease-in-out 0s infinite alternate, moveY 2.20s ease-in-out 0s infinite alternate;
  -o-animation: moveX 3.03s ease-in-out 0s infinite alternate, moveY 2.20s ease-in-out 0s infinite alternate;
  animation: moveX 3.03s ease-in-out 0s infinite alternate, moveY 2.20s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from {
    left: -30px;
  }
  to {
    left: 470px;
  }
}

@-moz-keyframes moveX {
  from {
    left: -30px;
  }
  to {
    left: 470px;
  }
}

@-o-keyframes moveX {
  from {
    left: -30px;
  }
  to {
    left: 470px;
  }
}

@keyframes moveX {
  from {
    left: -30px;
  }
  to {
    left: 470px;
  }
}


/**************************************************************************************************/

@-webkit-keyframes moveY {
  from {
    top: -30px;
  }
  to {
    top: 480px;
  }
}

@-moz-keyframes moveY {
  from {
    top: -30px;
  }
  to {
    top: 480px;
  }
}

@-o-keyframes moveY {
  from {
    top: -30px;
  }
  to {
    top: 480px;
  }
}

@keyframes moveY {
  from {
    top: -30px;
  }
  to {
    top: 480px;
  }
}
