* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 9pt;
}

body {
  z-index: 0;
  position: relative;
  font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
  font-size: 100%;
  line-height: 1.2em;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #fff;
}


/**************************************************************************************************/

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

ul, li {
  list-style: none;
}

:focus {
  -moz-outline-style: none;
}

a {
  outline: none;
}

hr {
  border: 0;
  height: 1px;
  margin: 0.75em 0 1.5em 0;
  background-color: #000;
  clear: both;
}

img {
  display: block;
}


/**************************************************************************************************/
/* Font faces. */

@font-face {
    font-family: 'ChunkFiveRoman';
    src: url('fonts/chunkfive-webfont.eot');
    src: url('fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chunkfive-webfont.woff2') format('woff2'),
         url('fonts/chunkfive-webfont.woff') format('woff'),
         url('fonts/chunkfive-webfont.ttf') format('truetype'),
         url('fonts/chunkfive-webfont.svg#ChunkFiveRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**************************************************************************************************/
.Wrapper,
.Text,
.Text h1
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/**************************************************************************************************/

.Wrapper {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/**************************************************************************************************/

.Core {
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
  background: #002D47;
  overflow: hidden;
  perspective: 1500px;
}


/**************************************************************************************************/

.Text {
  transform-style: preserve-3d;
  width: 100%;
	height: 100%;
	/*background-image: url("../media/clouds_2.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	background-color: #222;*/
}


/**************************************************************************************************/

.Text h1 {
  position: absolute;
	top: 0;
	left: 0;
  font-family: "ChunkFiveRoman", "Georgia", "New York", "Times New Roman", "Times", serif;
	font-weight: normal;
	text-transform: none;
	line-height: 0.9em;
  font-size: 1500%;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	margin: 0;
	padding: 10px;
  color: #933311;
	clear: both;
	background-color: transparent;
	cursor: default;
  z-index: 10;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


/****************************************************************************************/

.Text h1.front {
  transform: translateZ(240px);
}

.Text h1.back {
  transform: rotate(180deg) rotateX(-180deg) translateZ(240px);
}

.Text h1.right {
  transform: rotateY(90deg) translateZ(300px);
}

.Text h1.left {
  transform: rotateY(-90deg) translateZ(300px);
}

.Text h1.top {
  transform: rotateX(90deg) translateZ(120px);
}

.Text h1.bottom {
  transform: rotateX(-90deg) translateZ(120px);
}

/****************************************************************************************/

.Text.animate_up {
  animation: rotate_up 9s linear infinite;
}

.Text.animate_down {
  animation: rotate_down 9s linear infinite;
}

.Text.animate_left {
  animation: rotate_left 9s linear infinite;
}

.Text.animate_right {
  animation: rotate_right 9s linear infinite;
}

.Text.animate_up_left {
  animation: rotate_up_left 9s linear infinite;
}

.Text.animate_down_left {
  animation: rotate_down_left 9s linear infinite;
}

.Text.animate_up_right {
  animation: rotate_up_right 9s linear infinite;
}

.Text.animate_down_right {
  animation: rotate_down_right 9s linear infinite;
}


/****************************************************************************************/

@keyframes rotate_up {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(360deg);
  }
}

@keyframes rotate_down {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(-360deg);
  }
}

@keyframes rotate_left {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(-360deg) rotateX(0deg);
  }
}

@keyframes rotate_right {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(0deg);
  }
}

@keyframes rotate_up_left {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(-360deg) rotateX(360deg);
  }
}

@keyframes rotate_down_left {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(-360deg) rotateX(-360deg);
  }
}

@keyframes rotate_up_right {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

@keyframes rotate_down_right {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(-360deg);
  }
}


/**************************************************************************************************/

.Object {
  position: absolute;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  vertical-align: bottom;
}


/**************************************************************************************************/

.Object h1 {
  /*font-family: "LangdonRegular", "Georgia", "New York", "Times New Roman", "Times", serif;*/
  font-weight: normal;
  text-transform: uppercase;
  line-height: 100%;
  font-size: 1250%;
  /*color: #FFC61E;*/
  color: #fff;
}


/**************************************************************************************************/

.Object:nth-child(1) {
  animation: moveLeftRight 19.05s linear 0s infinite normal, moveTopBottom 12.05s linear 0s infinite normal, rotateFlatClockwise 5s linear 0s infinite normal;
  z-index: 100;
}

.Object:nth-child(2) {
  animation: moveLeftRight 13.05s linear 0s infinite normal, moveTopBottom 6.05s linear 0s infinite normal, rotateFlatClockwise 5s linear 0s infinite normal;
}

.Object:nth-child(3) {
  animation: moveLeftRight 17.05s linear 0s infinite normal, moveTopBottom 8.05s linear 0s infinite normal, rotateFlatClockwise 5s linear 0s infinite normal;
  z-index: 100;
}

.Object:nth-child(4) {
  animation: moveLeftRight 10.05s linear 0s infinite normal, moveTopBottom 7.05s linear 0s infinite normal, rotateFlatClockwise 5s linear 0s infinite normal;
}

.Object:nth-child(5) {
  animation: moveLeftRight 17.05s linear 0s infinite normal, moveTopBottom 5.05s linear 0s infinite normal, rotateFlatClockwise 5s linear 0s infinite normal;
  z-index: 100;
}

.Object:nth-child(6) {
  animation: moveLeftRight 21.05s linear 0s infinite normal, moveTopBottom 9.05s linear 0s infinite normal, rotateFlatClockwise 5s linear 0s infinite normal;
}

.Object:nth-child(7) {
  animation: moveLeftRight 13.05s linear 0s infinite normal, moveTopBottom 4.05s linear 0s infinite normal, rotateFlatClockwise 5s linear 0s infinite normal;
  z-index: 100;
}

.Object:nth-child(8) {
  animation: moveLeftRight 15.05s linear 0s infinite normal, moveTopBottom 10.05s linear 0s infinite normal, rotateFlatClockwise 5s linear 0s infinite normal;
}

.Object:nth-child(9) {
  animation: moveLeftRight 14.05s linear 0s infinite normal, moveTopBottom 11.05s linear 0s infinite normal, rotateFlatClockwise 5s linear 0s infinite normal;
  z-index: 100;
}

.Object:nth-child(10) {
  animation: moveLeftRight 22.05s linear 0s infinite normal, moveTopBottom 4.05s linear 0s infinite normal, rotateFlatClockwise 5s linear 0s infinite normal;
}

.Object:nth-child(11) {
  animation: moveLeftRight 30.05s linear 0s infinite normal, moveTopBottom 12.05s linear 0s infinite normal, rotateFlatClockwise 5s linear 0s infinite normal;
  z-index: 100;
}

.Object:nth-child(12) {
  animation: moveLeftRight 14.05s linear 0s infinite normal, moveTopBottom 6.05s linear 0s infinite normal, rotateFlatClockwise 5s linear 0s infinite normal;
}


/**************************************************************************************************/

.Object:nth-child(even) h1 {
  font-size: 950%;
  filter: blur(5px);
}

.Object:nth-child(odd) h1 {
  font-size: 1750%;
}


/**************************************************************************************************/

@keyframes moveLeftRight {
  0% {
    left: -360px;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}


/**************************************************************************************************/

@keyframes moveTopBottom {
  0% {
    top: -360px;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}


/**************************************************************************************************/

@keyframes rotateFlatClockwise {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/**************************************************************************************************/

@keyframes rotate3D {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  }
  75% {
    transform: rotateX(270deg) rotateY(270deg) rotateZ(270deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
