* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 9pt;
}

body {
  z-index: 0;
  position: relative;
  font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
  font-size: 100%;
  line-height: 1.2em;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #fff;
}

/**************************************************************************************************/

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

ul, li {
  list-style: none;
}

:focus {
  -moz-outline-style: none;
}

a {
  outline: none;
}

hr {
  border: 0;
  height: 1px;
  margin: 0.75em 0 1.5em 0;
  background-color: #000;
  clear: both;
}

img {
  display: block;
}

/**************************************************************************************************/
/* Font faces. */

@font-face {
  font-family: 'LangdonRegular';
  src: url('fonts/langdon-webfont.woff2') format('woff2'), url('fonts/langdon-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/**************************************************************************************************/
.Wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**************************************************************************************************/
.Core {
  position: relative;
  text-align: left;
  background-color: #d00;
  width: 100%;
  height: 100%;
  background: #002654;
  overflow: hidden;
  perspective: 750px;
}

/**************************************************************************************************/

.Object {
  display: block;
  background-color: transparent;
  position: absolute;
  width: auto;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  transform-style: preserve-3d;
}

/**************************************************************************************************/
.Object h1 {
  font-family: "LangdonRegular", "Georgia", "New York", "Times New Roman", "Times", serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 0.9em;
  font-size: 1250%;
  color: #fff;

}

/**************************************************************************************************/

.Object:nth-child(1) {
  animation: moveX 9.05s linear 0s infinite normal, moveY 12.05s linear 0s infinite normal, rotateFlat 3s linear 0s infinite;
}

.Object:nth-child(2) {
  animation: moveX 12.05s linear 0s infinite normal, moveY 9.05s linear 0s infinite normal, rotateFlat 2s linear 0s infinite;
}

.Object:nth-child(3) {
  animation: moveX 17.05s linear 0s infinite normal, moveY 10.05s linear 0s infinite normal, rotateFlat 4s linear 0s infinite;
}

.Object:nth-child(4) {
  animation: moveX 10.05s linear 0s infinite normal, moveY 17.05s linear 0s infinite normal, rotateFlat 6s linear 0s infinite;
}

/**************************************************************************************************/

@keyframes moveX {
  0% {
    left: 0px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

/**************************************************************************************************/

@keyframes moveY {
  0% {
    bottom: 0px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}

/**************************************************************************************************/
@keyframes rotateFlat {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**************************************************************************************************/
@keyframes rotate3D {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
