/**************************************************************************************************/

html, body {
  background-color: #333333;
}

/**************************************************************************************************/

.Core h1 a:active, .Core h1 a:hover,
.Core h2 a:active, .Core h2 a:hover,
.Core h3 a:active, .Core h3 a:hover,
.Core h4 a:active, .Core h4 a:hover,
.Core h5 a:active, .Core h5 a:hover,
.Core h6 a:active, .Core h6 a:hover,
.Core p a:active, .Core p a:hover,
.Core ul li a:active, .Core ul li a:hover,
.Core ol li a:active, .Core ol li a:hover {
  color: #FCA311;
}

/**************************************************************************************************/

/*.Core p a:active,
.Core p a:hover,
.Core ul li a:active,
.Core ul li a:hover,
.Core ol li a:active,
.Core ol li a:hover {
  background-image: linear-gradient(#fff 50%, #FCA311 50%);
}*/

/**************************************************************************************************/

.Header {
  /*background-color: #F74902;*/
  /*background-color: #00A3DD;*/
  background-color: #FCA311;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7f04+0,ff7c00+49,ffa73d+50,ffb76b+100 */
  background: #ff7f04; /* Old browsers */
  background: -moz-linear-gradient(30deg, #FCA311 0%, #FCA311 25%, #333333 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(30deg, #FCA311 0%, #FCA311 25%, #333333 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(30deg, #FCA311 0%, #FCA311 25%, #333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#FCA311',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.Footer {
  /*background-color: #F74902;*/
  /*background-color: #00A3DD;*/
  /*background-color: #FCA311;*/
}
