* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: #660000;
  background: #ff7f04; /* Old browsers */
  background: -moz-linear-gradient(30deg, #ff7f04 0%, #ff7f04 25%, #002e4b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(30deg, #ff7f04 0%, #ff7f04 25%, #002e4b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(30deg, #ff7f04 0%, #ff7f04 25%, #002e4b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f04', endColorstr='#002e4b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
  z-index: 0;
  position: relative;
  font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1em;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  /*background-color: #006600;*/
  /*background-color: #660000;*/
}

html, body {
  width: 100%;
  /*height: 100%;*/
  color: #000000;
}

/**************************************************************************************************/

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000000;
  transition: all 600ms ease;
}

ul, li {
  list-style: none;
}

:focus {
  -moz-outline-style: none;
}

a {
  outline: none;
}

hr {
  border: 0;
  height: 1px;
  margin: 1.25em 0 1.25em 0;
  background-color: #000000;
  clear: both;
}

/**************************************************************************************************/

*::selection {
  background: #888888;
}

*::-moz-selection {
  background: #888888;
}

/**************************************************************************************************/

ul, li {
  position: relative;
  float: left;
  display: inline;
}

/**************************************************************************************************/
/* Font faces. */

@font-face {
  font-family: 'ChunkFiveRoman';
  src: url('fonts/chunkfive-webfont.eot');
  src: url('fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/chunkfive-webfont.woff2') format('woff2'), url('fonts/chunkfive-webfont.woff') format('woff'), url('fonts/chunkfive-webfont.ttf') format('truetype'), url('fonts/chunkfive-webfont.svg#ChunkFiveRoman') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**************************************************************************************************/

body > header {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 20px 20px 0 0;
  padding: 15px 30px 15px 30px;
  background-color: #000000;
  transform: rotate(1deg);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body > header h1 {
  font-family: ChunkFiveRoman, Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing: 0.025em;
  color: #ffffff;
}

/**************************************************************************************************/

main {
  display: flex;
  overflow: auto;
  /* flex-direction: column; */
	/* flex-direction: column-reverse; */
	/* flex-direction: row; */
	/* flex-direction: row-reverse; */
	flex-direction: column;
	/* flex-wrap: nowrap; */
	/* flex-wrap: wrap; */
	/* flex-wrap: wrap-reverse; */
	flex-wrap: wrap;
	/* align-items: flex-start; */
	/* align-items: flex-end; */
	/* align-items: center; */
	/* align-items: baseline; */
	/* align-items: stretch; */
	align-items: center;
	/* justify-content: flex-start; */
	/* justify-content: flex-end; */
	/* justify-content: center; */
	/* justify-content: space-between; */
	/* justify-content: space-around; */
	justify-content: center;
	/* align-content: flex-start; */
	/* align-content: flex-end; */
	/* align-content: center; */
	/* align-content: stretch; */
	/* align-content: space-between; */
	/* align-content: space-around; */
	align-content: center;
  margin: 40px;
	padding: 20px;
  background-color: #ffffff;
  /*border-radius: 1.25rem;*/
  box-shadow: -0.625rem 0.625rem 0 #000000;
}

/**************************************************************************************************/

article {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: calc(100% - 40px);
  text-align: left;
  background-color: #ffffcc;
}

/**************************************************************************************************/

main > header,
main > footer {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: calc(100% - 40px);
  /*padding: 10px;*/
  /*background-color: #888888;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main > header {
  padding: 10px 10px 20px 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000000;
  /*background-color: #999999;*/
}

main > footer {
  padding: 20px 10px 10px 10px;
  margin-top: 20px;
  border-top: 1px solid #000000;
  /*background-color: #999999;*/
}

main > header p,
main > footer p {
  font-family: Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 0.95rem;
  line-height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/**************************************************************************************************/

main > header p:before,
main > header p:after,
main > footer p:before,
main > footer p:after {
  content: 'â–';
  font-size: 0.6em;
}

main > header p:after {
  margin: 0 0 0 2rem;
}

main > header p:before {
  margin: 0 2rem 0 0;
}

main > footer p:after {
  margin: 0 0 0 2rem;
}

main > footer p:before {
  margin: 0 2rem 0 0;
}

/**************************************************************************************************/

article h1 {
  line-height: 0.9em;
}

article h2, article h3, article h4, article h5, article h6 {
  line-height: 1.1125em;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: ChunkFiveRoman, Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  clear: both;
}

article h1 a, article h1 a:active, article h1 a:hover, article h1 a:visited,
article h2 a, article h2 a:active, article h2 a:hover, article h2 a:visited,
article h3 a, article h3 a:active, article h3 a:hover, article h3 a:visited,
article h4 a, article h4 a:active, article h4 a:hover, article h4 a:visited,
article h5 a, article h5 a:active, article h5 a:hover, article h5 a:visited,
article h6 a, article h6 a:active, article h6 a:hover, article h6 a:visited {
  text-decoration: none;
  font-weight: normal;
  color: #000000;
}

article h1 {
  font-size: 4.125rem;
  margin: 0 0 0.25em 0;
}

article h2 {
  font-size: 2.5rem;
  margin: 0.2em 0 0.2em 0;
}

article h3 {
  font-size: 1.75rem;
  margin: 1.5em 0 0.15em 0;
}

article h4 {
  font-size: 1.65rem;
  margin: 1.1em 0 0.4em 0;
}

article h5 {
  font-size: 1.5rem;
  margin: 1.5em 0 0.7em 0;
}

article h6 {
  font-size: 1.4rem;
  margin: 1.5em 0 0.8em 0;
}

/**************************************************************************************************/

article p,
article ul li,
article ol li {
  font-family: Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.35em;
  clear: both;
}

article p {
  margin: 0 0 1.25em 0;
}

article p:last-child {
  margin: 0;
}

article p a,
article p a:active,
article p a:hover,
article p a:visited,
article ul li a,
article ul li a:active,
article ul li a:hover,
article ul li a:visited,
article ol li a,
article ol li a:active,
article ol li a:hover,
article ol li a:visited {
  background-image: linear-gradient(#ffffff 50%, #777777 50%);
  background-repeat: repeat-x;
  background-position: 0 90%;
  background-size: 1px 1px;
}

/**************************************************************************************************/

article ul,
article ol {
  margin: 0;
  padding: 0 0 1.25em 0;
  clear: both;
}

article ul li,
article ol li {
  margin: 0 0 0.75em 1.75em;
  padding: 0;
  clear: both;
}

article ul li,
article ol li {
  list-style-position: outside;
  display: list-item;
}

article ul li {
  list-style-type: disc;
}

article ol li {
  list-style-type: decimal;
}
