* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background: #2880bf; /* Old browsers */
  background: -moz-linear-gradient(30deg, #ffdd35 0%, #ffdd35 25%, #2880bf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(30deg, #ffdd35 0%, #ffdd35 25%, #2880bf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(30deg, #ffdd35 0%, #ffdd35 25%, #2880bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd35', endColorstr='#2880bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  z-index: 0;
  position: relative;
  font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1em;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

html, body {
  width: 100%;
  color: #000000;
}

/******************************************************************************/

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #000000;
  transition: all 600ms ease;
}

ul, li {
  list-style: none;
  position: relative;
  float: left;
  display: inline;
}

:focus {
  -moz-outline-style: none;
}

a {
  outline: none;
}

hr {
  border: 0;
  height: 1px;
  margin: 1.25em 0 1.25em 0;
  background-color: #000000;
  clear: both;
}

/******************************************************************************/

*::selection {
  background: #888888;
}

*::-moz-selection {
  background: #888888;
}

/******************************************************************************/
/*
/*  _____           _
/* |  ___|__  _ __ | |_ ___
/* | |_ / _ \| '_ \| __/ __|
/* |  _| (_) | | | | |_\__ \
/* |_|  \___/|_| |_|\__|___/
/*
/******************************************************************************/

@font-face {
  font-family: 'ChunkFiveRoman';
  src: url('../fonts/chunkfive-webfont.eot');
  src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/chunkfive-webfont.woff2') format('woff2'), url('../fonts/chunkfive-webfont.woff') format('woff'), url('../fonts/chunkfive-webfont.ttf') format('truetype'), url('../fonts/chunkfive-webfont.svg#ChunkFiveRoman') format('svg');
  font-weight: normal;
  font-style: normal;
}

/******************************************************************************/
/*  _   _                _
/* | | | | ___  __ _  __| | ___ _ __
/* | |_| |/ _ \/ _` |/ _` |/ _ \ '__|
/* |  _  |  __/ (_| | (_| |  __/ |
/* |_| |_|\___|\__,_|\__,_|\___|_|
/*
/******************************************************************************/

body > header {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px -20px 0 0;
  padding: 15px 60px 15px 40px;
  transform: rotate(1deg);
  background-color: #000000;
  box-shadow: 0.625rem 0.625rem 0 0 rgba(18, 18, 18, 0.25);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
}

body > header h1 {
  font-family: ChunkFiveRoman, Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 0.75em;
  letter-spacing: 0.025em;
  color: #ffffff;
}

body > header h1 a,
body > header h1 a:link,
body > header h1 a:visited,
body > header h1 a:hover,
body > header h1 a:active {
  color: #ffffff;
}

/******************************************************************************/
/*  _   _               ____             _      ____        _   _
/* | \ | | __ ___   __ | __ )  __ _  ___| | __ | __ ) _   _| |_| |_ ___  _ __
/* |  \| |/ _` \ \ / / |  _ \ / _` |/ __| |/ / |  _ \| | | | __| __/ _ \| '_ \
/* | |\  | (_| |\ V /  | |_) | (_| | (__|   <  | |_) | |_| | |_| || (_) | | | |
/* |_| \_|\__,_| \_/   |____/ \__,_|\___|_|\_\ |____/ \__,_|\__|\__\___/|_| |_|
/*
/******************************************************************************/

body > nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.75rem 0 0 0.75rem;
  padding: 0;
  z-index: 20;
}

body > nav ul li {
  border-radius: 50%;
  box-shadow: 0.625rem 0.625rem 0 0 rgba(18, 18, 18, 0.25);
}

body > nav ul li a,
body > nav ul li a:link,
body > nav ul li a:visited,
body > nav ul li a:hover,
body > nav ul li a:active {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;
  transform: rotate(-5deg);
  border-radius: 50%;
  color: #ffffff;
  background-color: #000000;
  /*box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6);*/
}

body > nav ul li a,
body > nav ul li a:link,
body > nav ul li a:visited {
  width: 4rem;
  height: 4rem;
  /*color: #ffffff;
  background-color: #b42121;*/
}

body > nav ul li a:hover,
body > nav ul li a:active {
  transform: rotate(355deg);
  /*color: #ffffff;
  background-color: #19993b;*/
}

body > nav ul li a::before {
  font-family: "FontAwesome";
  content: "\f137";
  display: inline-block;
  font-size: 3.5rem;
}

/******************************************************************************/
/*  _____           _
/* |  ___|__   ___ | |_ ___ _ __
/* | |_ / _ \ / _ \| __/ _ \ '__|
/* |  _| (_) | (_) | ||  __/ |
/* |_|  \___/ \___/ \__\___|_|
/*
/******************************************************************************/

main + footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 0 0.625rem -75%;
  padding: 0.9375rem 6.25rem 0.9375rem 3.125rem;
  width: 70%;
  min-height: 3rem;
  transform: rotate(-0.75deg);
  background-color: #000000;
  box-shadow: 0.625rem 0.625rem 0 0 rgba(18, 18, 18, 0.25);
  border-radius: 0 6rem 6rem 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 600ms ease;
}

main + footer::before {
  content: "\00a0";
  position: fixed;
  top: -1.25rem;
  left: 0;
  width: calc(100% - 2.5rem);
  height: 100%;
  padding: 1.625rem 0 1.625rem 0;
  z-index: -10;
}

main + footer span {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 100%;
}

main + footer span::after {
  font-family: "FontAwesome";
  content: "\f059";
  font-size: 4.5rem;
  padding: 0;
  transform: rotate(0.75deg);
  border-radius: 50%;
  color: #ffffff;
}

/******************************************************************************/

main + footer p {
  font-family: Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.35em;
  letter-spacing: 0.025em;
  clear: both;
  text-align: left;
  color: #000;
}

main + footer p a,
main + footer p a:link,
main + footer p a:visited,
main + footer p a:hover,
main + footer p a:active {
 font-weight: bold;
}

/******************************************************************************/

main + footer:hover,
main + footer:active {
  margin-bottom: 2.5rem;
  margin-left: -1.25rem;
}

main + footer:hover span::after,
main + footer:active span::after {
  content: "\f0a8";
}

main + footer:hover p,
main + footer:hover p a,
main + footer:hover p a:link,
main + footer:hover p a:visited,
main + footer:hover p a:hover,
main + footer:hover p a:active {
  color: #ffffff;
}

/******************************************************************************/
/*  __  __       _
/* |  \/  | __ _(_)_ __
/* | |\/| |/ _` | | '_ \
/* | |  | | (_| | | | | |
/* |_|  |_|\__,_|_|_| |_|
/*
/******************************************************************************/

main {
  display: flex;
  overflow: auto;
  /* flex-direction: column; */
	/* flex-direction: column-reverse; */
	/* flex-direction: row; */
	/* flex-direction: row-reverse; */
	flex-direction: column;
	/* flex-wrap: nowrap; */
	/* flex-wrap: wrap; */
	/* flex-wrap: wrap-reverse; */
	flex-wrap: wrap;
	/* align-items: flex-start; */
	/* align-items: flex-end; */
	/* align-items: center; */
	/* align-items: baseline; */
	/* align-items: stretch; */
	align-items: center;
	/* justify-content: flex-start; */
	/* justify-content: flex-end; */
	/* justify-content: center; */
	/* justify-content: space-between; */
	/* justify-content: space-around; */
	justify-content: center;
	/* align-content: flex-start; */
	/* align-content: flex-end; */
	/* align-content: center; */
	/* align-content: stretch; */
	/* align-content: space-between; */
	/* align-content: space-around; */
	align-content: center;
  /*min-width: calc(100% - 120px);*/
  margin: 40px;
	padding: 20px 20px 60px 20px;
  /*transform: rotate(0.3deg);*/
  background-color: #ffffff;
  box-shadow: 0.625rem 0.625rem 0 0 rgba(18, 18, 18, 0.25);
  transition: margin 600ms ease;
  transition: padding 600ms ease;
}

/******************************************************************************/
/*
/*     _         _   _      _
/*    / \   _ __| |_(_) ___| | ___
/*   / _ \ | '__| __| |/ __| |/ _ \
/*  / ___ \| |  | |_| | (__| |  __/
/* /_/   \_\_|   \__|_|\___|_|\___|
/*
/******************************************************************************/

article {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: calc(100% - 40px);
  text-align: left;
}

/******************************************************************************/

article h1 {
  line-height: 0.9em;
}

article h2, article h3, article h4, article h5, article h6 {
  line-height: 1.1125em;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: ChunkFiveRoman, Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  clear: both;
  word-break: break-all;
  white-space: normal;
}

article h1 a, article h1 a:link, article h1 a:visited, article h1 a:hover, article h1 a:active,
article h2 a, article h2 a:link, article h2 a:visited, article h2 a:hover, article h2 a:active,
article h3 a, article h3 a:link, article h3 a:visited, article h3 a:hover, article h3 a:active,
article h4 a, article h4 a:link, article h4 a:visited, article h4 a:hover, article h4 a:active,
article h5 a, article h5 a:link, article h5 a:visited, article h5 a:hover, article h5 a:active,
article h6 a, article h6 a:link, article h6 a:visited, article h6 a:hover, article h6 a:active {
  text-decoration: none;
  font-weight: normal;
  color: #000000;
}

article h1 {
  font-size: 4.125rem;
  margin: 0 0 0.25em 0;
}

article h2 {
  font-size: 2.5rem;
  margin: 0.2em 0 0.2em 0;
}

article h3 {
  font-size: 1.75rem;
  margin: 1.5em 0 0.15em 0;
}

article h4 {
  font-size: 1.65rem;
  margin: 1.1em 0 0.4em 0;
}

article h5 {
  font-size: 1.5rem;
  margin: 1.5em 0 0.7em 0;
}

article h6 {
  font-size: 1.4rem;
  margin: 1.5em 0 0.8em 0;
}

/******************************************************************************/

article p,
article ul li,
article ol li {
  font-family: Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.35em;
  clear: both;
}

article p {
  margin: 0 0 1.25em 0;
}

article p:last-child {
  margin: 0;
}

article p a,
article p a:link,
article p a:visited,
article p a:hover,
article p a:active,
article ul li a,
article ul li a:link,
article ul li a:visited,
article ul li a:hover,
article ul li a:active,
article ol li a,
article ol li a:link,
article ol li a:visited,
article ol li a:hover,
article ol li a:active {
  background-image: linear-gradient(#ffffff 50%, #777777 50%);
  background-repeat: repeat-x;
  background-position: 0 90%;
  background-size: 1px 1px;
}

/******************************************************************************/

article ul,
article ol {
  margin: 0;
  padding: 0 0 1.25em 0;
  clear: both;
}

article ul li,
article ol li {
  margin: 0 0 0.75em 1.75em;
  padding: 0;
  clear: both;
}

article ul li,
article ol li {
  list-style-position: outside;
  display: list-item;
}

article ul li {
  list-style-type: disc;
}

article ol li {
  list-style-type: decimal;
}

/******************************************************************************/

article pre {
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 0.8rem;
  line-height: 1.4em;
  font-weight: normal;
  border-radius: 0.5rem;
  padding: 20px 20px 20px 30px;
  margin: 0 0 10px 0;
  color: #00dd00;
  background-color: #333333;
}

article p code {
  display: inline-block;
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: normal;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0.25rem;
  background-color: #ddd;
  transition: all 600ms ease;
}

article p code:active,
article p code:hover {
  color: #00dd00;
  background-color: #333333;
}

/******************************************************************************/
/*
/*  __  __          _ _          ___                  _
/* |  \/  | ___  __| (_) __ _   / _ \ _   _  ___ _ __(_) ___  ___
/* | |\/| |/ _ \/ _` | |/ _` | | | | | | | |/ _ \ '__| |/ _ \/ __|
/* | |  | |  __/ (_| | | (_| | | |_| | |_| |  __/ |  | |  __/\__ \
/* |_|  |_|\___|\__,_|_|\__,_|  \__\_\\__,_|\___|_|  |_|\___||___/
/*
/******************************************************************************/

@media (min-width: 320px) {

  main + footer {
    margin: 0 0 0.625rem -95%;
  }

  main {
    min-width: 290px;
    padding: 80px 20px 120px 20px;
    margin: 10px 10px 10px 10px;
  }

  article {
    width: calc(100% - 20px);
  }

}

@media (min-width: 410px) {

  main + footer {
    margin: 0 0 0.625rem -95%;
  }

  main {
    min-width: 380px;
    padding: 80px 20px 120px 20px;
    margin: 10px 10px 60px 10px;
  }

  article {
    width: calc(100% - 20px);
  }

}

@media (min-width: 480px) {

  main + footer {
    margin: 0 0 0.625rem -75%;
  }

  main {
    min-width: 460px;
    padding: 20px 20px 60px 20px;
    margin: 40px 40px 60px 40px;
  }

  article {
    width: calc(100% - 40px);
  }

}

@media (min-width: 768px) {

  main + footer {
    margin: 0 0 0.625rem -75%;
  }

  main {
    min-width: 748px;
    padding: 20px 20px 60px 20px;
    margin: 40px 40px 60px 40px;
  }

  article {
    width: calc(100% - 40px);
  }

}

@media (min-width: 1024px) {

  main + footer {
    margin: 0 0 0.625rem -75%;
  }

  main {
    min-width: 748px;
    padding: 20px 20px 60px 20px;
    margin: 40px 160px 60px 160px;
  }

  article {
    width: calc(100% - 40px);
  }

}
