* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  z-index: 0;
  position: relative;
  font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1em;
  text-align: center;
  background: #efe0cd;
  /*background: linear-gradient(-45deg, #687A8f 0%, #f7882f 50%, #f7c331 100%);*/
  -webkit-text-size-adjust: 100%;
}

/******************************************************************************/

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #000000;
  transition: all 600ms ease;
}

ul, li {
  list-style: none;
  position: relative;
  float: left;
  display: inline;
}

:focus {
  -moz-outline-style: none;
}

a {
  outline: none;
}

hr {
  border: 0;
  height: 1px;
  margin: 1.25em 0 1.25em 0;
  background: #333333;
  clear: both;
}

/******************************************************************************/

*::selection {
  background: #888888;
}

*::-moz-selection {
  background: #888888;
}

/******************************************************************************/
/*
/*  _____           _
/* |  ___|__  _ __ | |_ ___
/* | |_ / _ \| '_ \| __/ __|
/* |  _| (_) | | | | |_\__ \
/* |_|  \___/|_| |_|\__|___/
/*
/******************************************************************************/

@font-face {
	font-family: "Arvo";
	src: url('../fonts/Arvo/Arvo-Bold.eot');
	src: url('../fonts/Arvo/Arvo-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Arvo/Arvo-Bold.woff2') format('woff2'), url('../fonts/Arvo/Arvo-Bold.woff') format('woff'), url('../fonts/Arvo/Arvo-Bold.ttf') format('truetype'), url('../fonts/Arvo/Arvo-Bold.svg#Arvo-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Arvo";
	src: url('../fonts/Arvo/Arvo-BoldItalic.eot');
	src: url('../fonts/Arvo/Arvo-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Arvo/Arvo-BoldItalic.woff2') format('woff2'), url('../fonts/Arvo/Arvo-BoldItalic.woff') format('woff'), url('../fonts/Arvo/Arvo-BoldItalic.ttf') format('truetype'), url('../fonts/Arvo/Arvo-BoldItalic.svg#Arvo-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Arvo";
	src: url('../fonts/Arvo/Arvo-Italic.eot');
	src: url('../fonts/Arvo/Arvo-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Arvo/Arvo-Italic.woff2') format('woff2'), url('../fonts/Arvo/Arvo-Italic.woff') format('woff'), url('../fonts/Arvo/Arvo-Italic.ttf') format('truetype'), url('../fonts/Arvo/Arvo-Italic.svg#Arvo-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Arvo";
	src: url('../fonts/Arvo/Arvo.eot');
	src: url('../fonts/Arvo/Arvo.eot?#iefix') format('embedded-opentype'), url('../fonts/Arvo/Arvo.woff2') format('woff2'), url('../fonts/Arvo/Arvo.woff') format('woff'), url('../fonts/Arvo/Arvo.ttf') format('truetype'), url('../fonts/Arvo/Arvo.svg#Arvo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'SinaNovaReg';
  src: url('../fonts/SinaNova/SinaNovaReg-webfont.eot');
  src: url('../fonts/SinaNova/SinaNovaReg-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SinaNova/SinaNovaReg-webfont.woff2') format('woff2'),
       url('../fonts/SinaNova/SinaNovaReg-webfont.woff') format('woff'),
       url('../fonts/SinaNova/SinaNovaReg-webfont.ttf') format('truetype'),
       url('../fonts/SinaNova/SinaNovaReg-webfont.svg#sinanova-regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/******************************************************************************/
/*  _   _                _
/* | | | | ___  __ _  __| | ___ _ __
/* | |_| |/ _ \/ _` |/ _` |/ _ \ '__|
/* |  _  |  __/ (_| | (_| |  __/ |
/* |_| |_|\___|\__,_|\__,_|\___|_|
/*
/******************************************************************************/

body > header {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1.75rem -1.25rem 0 0;
  padding: 15px 60px 15px 40px;
  transform: rotate(1deg);
  background: #913832;
  box-shadow: 0.5rem 0.5rem 0 0 rgba(0, 0, 0, 0.25);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
}

body > header h1 {
  /*font-family: "Arvo", Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;*/
  font-family: "SinaNovaReg", Georgia, "New York", "Times New Roman", Times, serif;
  /*font-family: Helvetica, Arial, "Arial Unicode MS", Verdana, sans-serif;*/
  font-weight: bold;
  font-style: normal;
  text-transform: normal;
  font-size: 2.75rem;
  line-height: 0.75em;
  letter-spacing: 0.025em;
}

body > header h1,
body > header h1 a,
body > header h1 a:link,
body > header h1 a:visited,
body > header h1 a:hover,
body > header h1 a:active {
  color: #ffffff;
}

/******************************************************************************/
/*  _   _
/* | \ | | __ ___   __
/* |  \| |/ _` \ \ / /
/* | |\  | (_| |\ V /
/* |_| \_|\__,_| \_/
/*
/******************************************************************************/

body > nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.75rem 0 0 0.5rem;
  padding: 0;
  /*transform: rotate(-0.75deg);*/
  /*background: #000000;*/
  /*box-shadow: 0.625rem 0.625rem 0 0 rgba(18, 18, 18, 0.25);*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 20;
}

body > nav ul,
body > nav ul li label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
}


body > nav ul li label {
  /*font-family: "Arvo", Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;*/
  font-family: "SinaNovaReg", Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1em;
  min-width: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: #333333;
  cursor: pointer;
}

/******************************************************************************/
/*  __  __       _
/* |  \/  | __ _(_)_ __
/* | |\/| |/ _` | | '_ \
/* | |  | | (_| | | | | |
/* |_|  |_|\__,_|_|_| |_|
/*
/******************************************************************************/

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  width: calc(100% - 1.250rem);
  height: calc(100% - 1.250rem);
  margin: 0;
  padding: 0.625rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  perspective: 1800px;
  perspective-origin: 50% 50%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/******************************************************************************/

.container {
  width: 46rem;
  transform-style: preserve-3d;
  transition: all 600ms ease;
}

/******************************************************************************/

.panel {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  transition: all 600ms ease;
}

.panel.home {
  justify-content: center;
}


.panel.home article {
  width: 36rem;
  height: 36rem;
  /*border-radius: 50%;*/
  background: #f7882f;
  background: linear-gradient(-45deg, transparent 0%, #f7882f 50%, #f7c331 100%);
  box-shadow: inset -2.5rem -2.5rem 2.5rem 0 rgba(0, 0, 0, 0.25), 1.25rem 1.25rem 0.625rem 0 rgba(0, 0, 0, 0.125);
  transition: all 600ms ease;
}

/******************************************************************************/

.panel:nth-child(1) {
  transform: translateX(0rem);
}

.panel:nth-child(2) {
  transform: translateX(180rem);
}

.panel:nth-child(3) {
  transform: translateX(360rem);
}

.panel:nth-child(4) {
  transform: translateX(540rem);
}

.panel:nth-child(5) {
  transform: translateX(720rem);
}

/******************************************************************************/

main input[type="radio"] {
  display: none;
}

input[type="radio"].panel_1:checked ~ .container {
  transform: translateX(0rem);
}

input[type="radio"].panel_2:checked ~ .container {
  transform: translateX(-180rem);
}

input[type="radio"].panel_3:checked ~ .container {
  transform: translateX(-360rem);
}

input[type="radio"].panel_4:checked ~ .container {
  transform: translateX(-540rem);
}

input[type="radio"].panel_5:checked ~ .container {
  transform: translateX(-720rem);
}

/******************************************************************************/
/*
/*     _         _   _      _
/*    / \   _ __| |_(_) ___| | ___
/*   / _ \ | '__| __| |/ __| |/ _ \
/*  / ___ \| |  | |_| | (__| |  __/
/* /_/   \_\_|   \__|_|\___|_|\___|
/*
/******************************************************************************/

article {
  position: relative;
  float: left;
  display: block;
  text-align: left;
  margin: 0 2.5rem 2.5rem 2.5rem;
  padding: 1.25rem;
  background: #efe0cd;
  transition: all 600ms ease;
}

/******************************************************************************/

article h1, article h2, article h3, article h4, article h5, article h6 {
  /*font-family: "Arvo", Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;*/
  font-family: "SinaNovaReg", Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: normal;
  clear: both;
  word-break: break-all;
  white-space: normal;
  color: #333333;
}

article h1 a, article h1 a:link, article h1 a:visited, article h1 a:hover, article h1 a:active,
article h2 a, article h2 a:link, article h2 a:visited, article h2 a:hover, article h2 a:active,
article h3 a, article h3 a:link, article h3 a:visited, article h3 a:hover, article h3 a:active,
article h4 a, article h4 a:link, article h4 a:visited, article h4 a:hover, article h4 a:active,
article h5 a, article h5 a:link, article h5 a:visited, article h5 a:hover, article h5 a:active,
article h6 a, article h6 a:link, article h6 a:visited, article h6 a:hover, article h6 a:active {
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  color: #333333;
}

article h1 {
  font-size: 2.625rem;
  line-height: 1em;
  margin: 0.25em 0 0.25em 0;
}

article h2 {
  font-size: 1.75rem;
  line-height: 1em;
  margin: 0.25em 0 0.25em 0;
}

article h3 {
  font-size: 1.625rem;
  line-height: 1em;
  margin: 0.25em 0 0.25em 0;
}

article h4 {
  font-size: 1.5rem;
  line-height: 1em;
  margin: 0.25em 0 0.25em 0;
}

article h5 {
  font-size: 1.25rem;
  line-height: 1em;
  margin: 0.25em 0 0.25em 0;
}

article h6 {
  font-size: 1.125rem;
  line-height: 1em;
  margin: 0.25em 0 0.25em 0;
}

/******************************************************************************/

article p {
  font-family: "SinaNovaReg", Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0.25em 0 1.125em 0;
  color: #333333;
  clear: both;
}

article p:last-child {
  margin: 0;
}

article p a, article p a:link, article p a:visited, article p a:hover, article p a:active {
  background-image: linear-gradient(#333333 50%, #777777 50%);
  background-repeat: repeat-x;
  background-position: 0 90%;
  background-size: 1px 1px;
}

/******************************************************************************/

article ul,
article ol {
  margin: 0;
  margin: 0;
  clear: both;
}

article ul:last-child,
article ol:last-child {
  padding: 0;
}

article ul li,
article ol li {
  font-family: Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0 0 0.75em 1.75em;
  padding: 0;
  clear: both;
}

article ul li,
article ol li {
  list-style-position: outside;
  display: list-item;
}

article ul li {
  list-style-type: disc;
}

article ol li {
  list-style-type: decimal;
}

article ul li a, article ul li a:link, article ul li a:visited, article ul li a:hover, article ul li a:active,
article ol li a, article ol li a:link, article ol li a:visited, article ol li a:hover, article ol li a:active {
  background-image: linear-gradient(#ffffff 50%, #777777 50%);
  background-repeat: repeat-x;
  background-position: 0 90%;
  background-size: 1px 1px;
}

/******************************************************************************/

article section {
  padding: 0 0 0.5rem 0;
}

article section:last-child {
  padding: 0;
}

/******************************************************************************/
/*
/*  __  __          _ _          ___                  _
/* |  \/  | ___  __| (_) __ _   / _ \ _   _  ___ _ __(_) ___  ___
/* | |\/| |/ _ \/ _` | |/ _` | | | | | | | |/ _ \ '__| |/ _ \/ __|
/* | |  | |  __/ (_| | | (_| | | |_| | |_| |  __/ |  | |  __/\__ \
/* |_|  |_|\___|\__,_|_|\__,_|  \__\_\\__,_|\___|_|  |_|\___||___/
/*
/******************************************************************************/

@media (min-width: 319px) {

  .container {
    width: 25rem;
  }

  article {
    margin-top: 5rem;
  }

  .panel.home article {
    width: 56vw;
    height: 56vh;
  }

}

@media (min-width: 479px) {

  .panel.home article {
    width: 56vw;
    height: 56vh;
  }

}

@media (min-width: 639px) {

  .container {
    width: 42rem;
  }

  article {
    margin-top: 5rem;
  }

  .panel.home article {
    width: 56vw;
    height: 56vh;
  }

}

@media (min-width: 767px) {

  .container {
    width: 56rem;
  }

  article {
    margin-top: 2.5rem;
  }

}

@media (min-width: 959px) {

  .panel.home article {
    width: 56vw;
    height: 56vh;
  }

}
