* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  z-index: 0;
  position: relative;
  font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1em;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  color: #000000;
  background-color: #ffffff;
}

/******************************************************************************/

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #000000;
  transition: all 600ms ease;
}

ul, li {
  list-style: none;
  /* position: relative; */
  /* float: left; */
  /* display: inline; */
}

:focus {
  -moz-outline-style: none;
}

a {
  outline: none;
}

hr {
  border: 0;
  height: 1px;
  margin: 1.25em 0 1.25em 0;
  background-color: #000000;
  clear: both;
}

/******************************************************************************/
/*  __  __       _
/* |  \/  | __ _(_)_ __
/* | |\/| |/ _` | | '_ \
/* | |  | | (_| | | | | |
/* |_|  |_|\__,_|_|_| |_|
/*
/******************************************************************************/

main {
  width: calc(100% - 1.250rem);
  height: calc(100% - 1.250rem);
  padding: 0.625rem;
  margin: 0;
}

/******************************************************************************/

main > article {
  width: calc(100% - 2.5rem);
  height: calc(100% - 2.5rem);
  padding: 1.25rem;
  overflow: hidden;
  background-color: #b0a18e;
}

/******************************************************************************/

main > article > section {
  text-align: left;
  margin-bottom: 2.5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-cursor: pointer;
  -khtml-cursor: pointer;
  -moz-cursor: pointer;
  -ms-cursor: pointer;
  cursor: pointer;
}

/******************************************************************************/

main > article > section h1,
main > article > section p {
  font-family: Georgia, "New York", "Times New Roman", Times, serif;
}

main > article > section h1 {
  font-size: 1.625rem;
  line-height: 1.5rem;
  color: #ffffff;
}

main > article > section p {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #ffffff;
}

/******************************************************************************/

main > article > section div.content {
  /*display: none;*/
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin-top: 0.625rem;
  transition: all 600ms ease;
}

main > article > section h1:hover ~ div.content {
  /*display: block;*/
  visibility: visible;
  opacity: 1;
  height: auto;
}
