* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  z-index: 0;
  position: relative;
  font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1em;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  color: #000000;
  background-color: #ffffff;
}

/******************************************************************************/

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #000000;
  transition: all 600ms ease;
}

ul, li {
  list-style: none;
  position: relative;
  float: left;
  display: inline;
}

:focus {
  -moz-outline-style: none;
}

a {
  outline: none;
}

hr {
  border: 0;
  height: 1px;
  margin: 1.25em 0 1.25em 0;
  background-color: #000000;
  clear: both;
}

/******************************************************************************/

div.wrapper {
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  perspective: 1500px;
  background: #b42121;
  background: linear-gradient(-25deg, #e68c28 0%, #e68c28 25%, #b42121 100%);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform-style: preserve-3d;
}

/**************************************************************************************************/

div.element {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  vertical-align: bottom;
  width: 50%;
  white-space: normal;
  word-break: keep-all;
}

/**************************************************************************************************/

div.element > h1 {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 100%;
  color: #ffffff;
}

/**************************************************************************************************/

div.element:nth-child(even) > h1 {
  font-size: 5rem;
  filter: blur(5px);
  z-index: 100;
}

div.element:nth-child(odd) > h1 {
  font-size: 7rem;
  z-index: 0;
}

/**************************************************************************************************/

div.element {
  position: absolute;
  left: -100%;
  animation-name: moveLeftRight;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

div.element:hover {
  -webkit-cursor: pointer;
  -khtml-cursor: pointer;
  -moz-cursor: pointer;
  -ms-cursor: pointer;
  cursor: pointer;
  animation-play-state: paused;
}

/**************************************************************************************************/

@keyframes moveLeftRight {
  0% {
    left: -50%;
    opacity: 0;
    transform: rotate3d(0, 1, 0, -18deg);
  }
  75% {
    opacity: 1;
  }
  100% {
    left: calc(100% + 1rem);
    opacity: 0;
    transform: rotate3d(0, 1, 0, 18deg);
  }
}

/**************************************************************************************************/

@keyframes moveRightLeft {
  0% {
    right: -50%;
    opacity: 0;
    transform: rotate3d(0, 1, 0, -18deg);
  }
  75% {
    opacity: 1;
  }
  100% {
    right: calc(100% + 1rem);
    opacity: 0;
    transform: rotate3d(0, 1, 0, 18deg);
  }
}

/**************************************************************************************************/

@keyframes moveTopBottom {
  0% {
    top: -50%;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: calc(100% + 1rem);
    opacity: 0;
  }
}

/**************************************************************************************************/

@keyframes moveBottomTop {
  0% {
    bottom: -50%;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    bottom: calc(100% + 1rem);
    opacity: 0;
  }
}
